---
layout: page
title: Luschentreff&#58; Alle Beiträge nach Tags sortiert
header: Alle Beiträge im Luschentreff nach Tags sortiert.
description: Luschentreff ist eine Seite übers Kartenspielen. Hier finden Schafkopfer, Skatspieler, Doppelkopfspieler und Schnapser viele hilfreiche Informationen.
---
{% include JB/setup %}

<div class="tagcloud">
  <h4>Häufige Tags:</h4>
  <ul class="list-unstyled">
    {% for tag in site.tags %}
    <li>
      <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="clearfix"></div>

<div class="article">
{% for tag in site.tags %}
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}
</div>
