<div class="post col-md-12">
  <div class="article row">
    <div class="page-header col-md-12">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="main col-md-8">
      {{ content }}
    </div>
    <div class="col-md-4">
      <div class="col-md-12 meta-tag">
        <span class="date">
        <!-- Whitespace added for readability -->
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d." }}
          {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}M&auml;rz
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </span><br />
        <span>{{ page.author }}</span>
        <div class="social-media">
          <a href="https://plus.google.com/share?url=http://www.luschentreff.de" class="fa fa-google-plus" target="_blank">&nbsp;</a>
          <a href="http://www.facebook.com/sharer.php?u=www.luschentreff.de" class="fa fa-facebook-square" target="_blank">&nbsp;</a>
          <a href="http://twitter.com/share?url=http://www.luschentreff" class="fa fa-twitter" target="_blank">&nbsp;</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="pager">
      {% if page.previous %}
        <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Voriger</a></li>
      {% else %}
        <li class="previous disabled"><a>&larr; Voriger</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archiv</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Nächster &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Nächster &rarr;</a>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>

  {% include JB/comments %}
</div>
