@import url("../fonts/fonts.css");
@import url("card-icons.css");
@import url("font-awesome.min.css");

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font: 16px/1.5em Andada, Georgia, Times, serif;
  color: #413932;
  /*background: #f5f4ef;*/
  background: #E2E1D9 url(../images/background.png) left top repeat;
  background-attachment: fixed;
}

::selection {
  background: rgba(240,72,52,.3); /* Safari */
}

::-moz-selection {
  background: rgba(240,72,52,.3); /* Firefox */
}

a {
  color: #f34b2d;
}

a:hover {
  /*color: #c53d20;*/
  color: #f34b2d;
}

h1 ,h2 ,h3 ,h4 ,h5 , h6 {
  font-family: Andada-SC, Georgia, Times, serif;
}

h3 {
  font-family: Andana, Georgia, Times, serif;
  font-size: 20px;
}

.container {
  margin: 0 auto;
}

.container-content {
  background: #f5f4ef;
  background: rgba(251,250,246,.7);
  border:1px solid #D0CEC5;
  padding:16px 0;
}

.nav > li > a {
  color: #83776d;
  font-size: 24px;
  font-weight: bold;

}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #f34b2d;
  background-color: rgba(208,206,197,.1);
}

.logo {
  padding-left: 100px;
  background: transparent url(../images/logo.png) left top no-repeat;
  margin: 10px 0;
  display: block;
  min-height: 93px;
}

.logo:hover {
  text-decoration: none;
}

.logo h1 {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(255,255,255,.5);
  margin: 10px 0 0;
  color: #413932;
}

.logo .claim {
  color: #84786e;
}

.tagcloud {
  margin: 32px 0 0;
}

.tagcloud h4 {
  margin-bottom: 0;
}

.tagcloud .list-unstyled li {
  float: left;
  margin-right: 5px;
}

.tagcloud .list-unstyled li:after {
  margin: 0 0 0 -2px;
  content: ",";
}

.tagcloud .list-unstyled li:last-child:after {
  content: "";
}

.article {
  /*background:pink;*/
  margin-bottom: 4em;
}

.post .article {
  margin-bottom: 0;
}

.page-header {
  border-color: #CCC6C0;
  margin-top: 0;
}

.page-header h1 {
  font-weight: bold;
  margin-top: 0;
}

.meta-tag {
  font-style: italic;
  background:#EFECE7;
  padding:.75em;
  margin-top:-.75em;
  /*background:rgba(0,0,0,.05);*/
  /*border-bottom: 1px solid #CCC6C0;*/
}

/*.meta-tag:before {
  position:absolute;
  left:0;
  width:22px;
  height:100%;
  background:url(../images/separator-background.png) left top repeat;
  content:"";
}*/

/*.meta-tag:after {
  display:block;
  margin-top:7px;
  width:100%;
  height:12px;
  background:url(../images/separator-background.png) left top repeat;
  background:rgba(208,206,197,.2);
  background:#EFECE7;
  content:"";
}*/

.meta-tag .date {
  font-style: normal;
  font-weight: bold;
}

.category-header {
  border:1px solid #CCC6C0;
  background: rgba(227,223,219,.5);
  padding: 20px;
  margin-bottom: 1em;
}

.category-header h2 {
  margin-top: 0;
}

.article .main:after {
  display: block;
  margin:2em 0;
  background: url(../images/separator-background.png) left top repeat;
  height: 1em;
  width: 100%;
  content:"";
}

.article:last-of-type .main:after,
.post .article .main:after {
  margin: 2em 0 0;
}

.article:last-of-type {
  margin-bottom:2em;
}

.social-media {
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid #CCC6C1;
}

a.fa {
  color: #6C6560;
  text-decoration: none;
}

a.fa:hover {
  color: #f34b2d;
  text-decoration: none;
}

.pager li > a,
.pager li > a.active,
.pager li > a:hover,
.pager li.disabled > a,
.pager li.disabled > a:hover {
  background: transparent;
  border: none;
  padding: 0;
}

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  color: #B1ABA2;
}

.footer a {
  color: #83776D;
  font-weight:bold;
}

.footer .copyright {
  color: #83776D;
  font-style: italic;
  float: left;
  margin-right: 20px;
}
