@font-face {
    font-family: 'QlassikMediumRegular';
    src: url('../fonts/Qlassik_TB-webfont.eot');
    src: url('../fonts/Qlassik_TB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Qlassik_TB-webfont.woff') format('woff'),
         url('../fonts/Qlassik_TB-webfont.ttf') format('truetype'),
         url('../fonts/Qlassik_TB-webfont.svg#QlassikMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaRegular';
    src: url('../fonts/Alegreya-Regular-webfont.eot');
    src: url('../fonts/Alegreya-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Alegreya-Regular-webfont.woff') format('woff'),
         url('../fonts/Alegreya-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Alegreya-Regular-webfont.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaSCRegular';
    src: url('../fonts/AlegreyaSC-Regular-webfont.eot');
    src: url('../fonts/AlegreyaSC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSC-Regular-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSC-Regular-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSC-Regular-webfont.svg#AlegreyaSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 840px;
  margin: 50px auto 0;
  font: 20px/1.5em 'AlegreyaRegular', serif;
  color:#333;
  background:#f6f6f6 url(../images/grey.png) left top repeat fixed;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: QlassikMediumRegular, sans-serif;
  margin:2em 0 0em;
}

a {
  color: #458CFC;
  text-decoration: none;
}

p {
  margin:.5em 0;
}

a:hover { text-decoration: underline; }
a:active { color:#275995; }

ul {
  list-style: square;
}

dt {
  margin-top:1em;
  font-family: QlassikMediumRegular, sans-serif;
}

dd {
  text-indent: 0px;
  *float: left; /*IE7 fix*/
  *width: 100%;
  margin: 0px;
  border-left: 4px solid #C5C5C5;
  border-left: 4px solid rgba(0,0,0,.2);
  padding-left: 1em;
}

strong { font-weight: normal; }

.navbar {
  text-align: center;
}

.navbar .brand {
  font: 48px/1.5em QlassikMediumRegular, sans-serif;
  text-shadow:0 2px 0 #ffffff;
  color:#333;
}

.navbar .brand:hover {
  text-decoration: none;
}

.navbar ul,
footer {
  border-bottom:2px solid #838383;
  border-top:2px solid #838383;
  font:16px/1.5em AlegreyaSCRegular, serif;
  list-style: none;
  padding: 0;
  overflow:hidden;
  padding:20px 0;
  background: #fff;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 25%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0.8)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(75%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%); /* W3C */

  margin-bottom: 0;
}

footer {
  font:14px/1.5em AlegreyaSCRegular, serif;
  margin-bottom:1em;
  color:#838383;
}
footer p {
  float: left;
  margin: 0;
}
footer .nav {
  margin: 0 0 0 20px;
}

.navbar ul li {
  float:left;
  text-align: center;
  width:25%;
}

.navbar ul li a {
  display:block;
  margin:0 5px;
}

.content {
  margin:3em 100px;
}

.page-header {
  font: 18px/1.5em QlassikMediumRegular, sans-serif;
}
